// Miscellaneous adjustments
// -----------------------------------------------------------------------------
//---btns ----//
.btn-primary{
  margin: 1.5em 0px;
}
///@todo: delete if not used on home page
.btn-alt-light{
  @extend .btn-primary;
      background-color: transparent;
      border: solid $border-radius-base white;
      color: white;
      border-width: 1px;
      &:hover, &:focus {
        background-color: rgba(255,255,255, .3);
        border-color: white;
      }
      a{
        color:white;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
}
//grey outlined 'button' to use on color backgrounds or light images
.btn-alt-dark{
  @extend .btn-primary;
      background-color: transparent;
      border: solid $border-radius-base $gray;
      border-width: 1px;
      color: $gray-darker;
      &:hover, &:focus {
        background-color: rgba($gray, .3);
        border-color: $gray;
      }
      a{
        color: $gray;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
}
//-----Horizontal rule-----////
hr {
  border-top: 2px solid $brand-secondary;
  margin: 3em 0px;
  clear:both;
}
//hide hr when two column
@media (min-width: $screen-md-min){
  .col-md-6, .col-md-4 {
    hr {
      border-top: transparent;
    }
  }
}

//----Images-----
//don't let the image overflow the container
img[data-responsive-image-style="body"]{
  max-width: 100%;
}

///--clearfix
.local-clearfix{
  clear:both;
}

//--no wrap util
.no-wrap{
  white-space: nowrap;
}
