// Miscellaneous adjustments
// -----------------------------------------------------------------------------
//---btns ----//
.btn-primary{
  margin: 1.5em 0px;
}
.btn-hero-lg{
  @extend .btn-primary;
      background-color: transparent;
      border: solid $border-radius-base white;
      color: white;
      display:block;
      font-size: $font-size-h4;
      @include breakpoint(sm){
        font-size: $font-size-h2;
      }
      &:hover, &:focus {
        //background-color: rgba(0,0,0, .8);
        background-color: rgba(255,255,255, .3);
        border-color: white;
      }
      a{
        color:white;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
}
//-----Horizontal rule-----////
hr {
  border-top: 2px solid $brand-secondary;
  margin: 3em 0px;
}
