// Page Layout
// -----------------------------------------------------------------------------
//---layout for taglines/buttons in hero blocks--//
.top-content .hero{
    display: flex;

    .hero__field-tag{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: -100%;
      width: 100%;
      .highlight{
        margin: auto;
      }
    }

}

main{
  margin-top: 3em;
}

footer{
  padding-top: 50px;
  background-color: $gray-dark;
  color: white;
  margin-top: 50px;
}
