// Page Layout
// -----------------------------------------------------------------------------
main{
  margin-top: floor($grid-gutter-width/4);
  @include breakpoint(sm){
      margin-top: floor($grid-gutter-width/2);
  }
}

footer{
  padding-top: $grid-gutter-width;
  background-color: $gray-dark;
  color: white;
  margin-top: $grid-gutter-width;
  margin-bottom: 0px;
}
