// Typography
// -----------------------------------------------------------------------------

//increase spacing for main content
p{
  margin-bottom: 1em;
}
//@todo: consider completely at the end...not sure I like yet
article{
  li{
    padding-bottom: .25em;
  }
}
a{
  &:hover, &:focus{
    text-decoration: underline;
  }
}

h1,h2,h3,h4,h5,h6 {
  clear:both;
}

.h1, .h2, .h3 {
   margin-bottom: $line-height-computed;
   margin-bottom: 2em;
}

.highlight{
  font-size: $font-size-h2;
  line-height: $font-size-h2*1.6;
  font-style: italic;
  text-align:center;
}
//@todo: should make a brand color
.green{
  color: green;
  font-weight: bolder;
}
