/// styling on hero
.btn-hero-lg{
  @extend .btn-primary;
      background-color: transparent;
      border: solid $border-radius-base white;
      color: white;
      display:block;
      font-size: $font-size-h4;
      @include breakpoint(sm){
        font-size: $font-size-h2;
      }
      &:hover, &:focus {
        background-color: rgba(255,255,255, .3);
        border-color: white;
      }
      a{
        color:white;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
}

.hero {
  .highlight{
    color: white;
    @include breakpoint(sm){
      font-size: 64px;
      line-height: 64px*1.6;
    }
  }
}

//---layout for taglines/buttons in hero blocks--//
.top-content .hero{
    position: relative;
    .hero__field-tag{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .highlight{
        margin: auto;
      }
    }

}
