// Node: events
// -----------------------------------------------------------------------------
//--color styling for the events list is set _view.events
//--overriding padding on column classes is in _views
.events {
  .events__field-cost,
  .events__field-early-bird-cost,
  .events__field-member-cost {
    .field__item{
      display: inline-block;
    }
  }
  //--view-mode brief event
  &.events--brief-event{
    margin-bottom: 1em;
    > div {
      padding-right: 0px;
      padding-left: 0px;
      color: $gray-darker;
    }
    .event-titles{
      padding-bottom: 2em;
      h1, h2, h3, h4{
        padding-left: floor(($grid-gutter-width));
        padding-right: floor(($grid-gutter-width));
      }
      h1, h2, h3, h4,
      .events__field-subtitle{
        line-height: 1.3em;
        color: white;
      }
      a{
        color:white;;
      }
    }
    .event-logistics{
      padding: floor(($grid-gutter-width / 2)) floor(($grid-gutter-width));;
    }
    .event-details{
      text-align: center;
    }
    //display date/time inline
    .events__field-event-start-date,
    .events__field-event-end-date {
      display: inline-block;
    }
    .events__field-practitioner {
      &::before{
        content: 'with ';
      }
      a{
        color: white;
      }
    }
  }

}
