// View: emergency announcement
// -----------------------------------------------------------------------------
.view--emergency-announcement {
  .view__content{
    padding: 1em;
  }
  p{
    margin: 0px;
    text-align: center;
  }

}
