// View: Staff/Practitioner
// -----------------------------------------------------------------------------
.view--staff {
  h1,h2,h3,h4,h5,h6{
    clear:both;
  }
  h3{
    text-align: center;
  }
  img{
    max-width: 100%;
    border: 1px solid darken($gray-lighter, 5%);
    padding: 0px;
  }
  .col-xs-6{
    padding-left: ceil($grid-gutter-width/8);
    padding-right: ceil($grid-gutter-width/8);
  }
  .col-sm-4{
    @include breakpoint(sm){
      padding-left: ceil($grid-gutter-width/4);
      padding-right: ceil($grid-gutter-width/4);
    }
  }
  .views-field-name{
    padding-top: ceil(($grid-gutter-width / 8));
    padding-bottom: ceil(($grid-gutter-width / 4));
    margin-bottom: 2em;
    text-align: center;
  }
  .views-field-field-image{
    text-align: center;
  }
} // close of view--staff

//staff bio for events
.view--staff-bio-for-events{
  h1,h2,h3,h4{
    margin-bottom: 5px;
  }
}
