//style views-reference as an h2. cannot edit simply with templates because it is a views reference field and it doesnot get exposed like a typical field in a template
.viewsreference-title{
  font-size: $font-size-h2;
  font: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-bottom: 1em;
  text-align: center;
}
