// View: Staff/Practitioner
// -----------------------------------------------------------------------------
.view--staff {
  img{
    max-width: 100%;
  }
  .col-xs-6{
    padding-left: ceil($grid-gutter-width/4);
    padding-right: ceil($grid-gutter-width/4);
  }
  .col-sm-4{
    padding-left: ceil($grid-gutter-width/4);
    padding-right: ceil($grid-gutter-width/4);
  }
  img{
    border: 1px solid darken($gray-lighter, 5%);
  }
  .views-field-name{
    padding-top: ceil(($grid-gutter-width / 4));
    padding-bottom: ceil(($grid-gutter-width / 2));
  }
} // close of view--staff
