///--all product related views
.view--audio-program-video{
  .view__content{
    overflow-y: hidden;
    > .view__row{
      color: $gray-darker;
      margin-bottom: floor($grid-gutter-width/4);
      a{
        color:$gray-darker;
        text-decoration: none;
      }
    }
    .product-image{
      img{
        max-width: 100%;
        padding: 10%;
      }
    }
    .product-details{
      height: 15em;
      @include breakpoint(sm){
         height: 14em;
      }
      padding: 10%;
      display: flex;
      flex-direction: column;
    }
    .product-title{
      flex-grow: 1;
    }
    h4{
      margin-top: 0px;
      margin-bottom:0px;
    }
    .btn{
      margin-top: 1em;
      margin-bottom: 0px;
    }
    .product-purchase{
      text-align: center;
    }
  }
}

//--product color coding
//@todo: redo using mixins
.view--audio-program-video,
.view--daily-classes-and-workshops{
    .color-1{
        .product-image{
          background: darken($color1, 20%);
        }
        .product-details{
          background: lighten($color1, 20%);
          &:hover, &:focus{
            background: darken($color1, 5%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color1, 5%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color1, 10%);
        }
    }
    .color-2{
        .product-image{
          background: darken($color2, 20%);
        }
        .product-details{
          background: lighten($color2, 20%);
          &:hover, &:focus{
            background: darken($color2, 5%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color2, 5%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color2, 10%);
        }
    }
    .color-3{
        .product-image{
          background: darken($color3, 20%);
        }
        .product-details{
          background: lighten($color3, 20%);
          &:hover, &:focus{
            background: darken($color3, 5%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color3, 5%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color3, 10%);
        }
    }
    .color-4{
        .product-image{
          background: darken($color4, 20%);
        }
        .product-details{
          background: lighten($color4, 20%);
          &:hover, &:focus{
            background: darken($color4, 10%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color4, 10%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color4, 15%);
        }
    }
    .color-5{
        .product-image{
          background: darken($color5, 20%);
        }
        .product-details{
          background: lighten($color5, 15%);
          &:hover, &:focus{
            background: darken($color5, 15%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color5, 15%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color5, 20%);
        }
    }
    .color-6{
        .product-image{
          background: darken($color6, 20%);
        }
        .product-details{
          background: lighten($color6, 15%);
          &:hover, &:focus{
            background: darken($color6, 15%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color6, 15%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color6, 20%);
        }
    }
    .color-7{
        .product-image{
          background: darken($color7, 20%);
        }
        .product-details{
          background: lighten($color7, 20%);
          &:hover, &:focus{
            background: darken($color7, 10%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color7, 10%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color7, 15%);
        }
    }
    .color-8{
        .product-image{
          background: darken($color8, 20%);
        }
        .product-details{
          background: lighten($color8, 20%);
          &:hover, &:focus{
            background: darken($color8, 10%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color8, 10%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color8, 15%);
        }
    }
    .color-9{
        .product-image{
          background: darken($color9, 20%);
        }
        .product-details{
          background: lighten($color9, 20%);
          &:hover, &:focus{
            background: darken($color9, 10%);
            color:white;
            .btn-alt-dark{
              border: 1px solid white;
              background: darken($color9, 10%);
              color: white;
            }
          }
        }
        .btn-alt-dark{
          border-color: darken($color9, 15%);
        }
    }
}

.view--daily-classes-and-workshops{
  .view__content{
    overflow-y: hidden;
    color: $gray-darker;
    a{
      color:$gray-darker;
      text-decoration: none;
    }
    > .view__row{
      margin-bottom: floor($grid-gutter-width/4);
    }
    .product-details{
      min-height: 15em;
      @include breakpoint(sm){
        min-height: 14em;
      }
      @include breakpoint(lg){
        min-height: 16em;
      }
      padding: 10%;
      display: flex;
      flex-direction: column;
    }
    .product-title{
      flex-grow: 1;
    }
    .product-recorded-date{
      padding-top: floor($grid-gutter-width/4);
      font-size: 87%;
      @include breakpoint(lg){
        font-size: 1em;
      }
    }
    h4{
      margin-top:0px;
      margin-bottom:0px;
    }
    .btn{
      margin-top: 1em;
      margin-bottom: 0px;
    }
    .product-purchase{
      text-align: center;
    }
  }
}
